@font-face {
    font-family: f1_font;
    src: url(assets/Formula1-Bold_web.ttf);
}

:root{
    --main-color: #ffffff;
    --secondary-color: #111111;
    --logo-url: url(media/logo-ferrari.png);
}

*{
    margin: 0;
padding: 0;
}

body{
    font-family: f1_font, sans-serif;
    background-color: #111111;    
}

h1{
    text-align: center;
    padding: 2rem 0;
    color: white;
    background-color: rgb(213, 15, 15);
}

.sticky-top{
        z-index: 2;
    position: sticky;
    top: 0;
}

.selectors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
    background-color: rgb(213, 15, 15);
}

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 4rem;
    min-height: fit-content;
    background-color: #111111;
}

.teams ul{
    margin: auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: fit-content; 
    width: fit-content;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}
.teams li{
    font-size: 0.7rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    align-items: center;
    
    &:hover{
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--main-color);
        outline: 1px solid var(--main-color);
    }
}

.races, .years{
    padding: 1rem 0;
    text-align: center;

    select{
        font-family: f1_font, sans-serif;
        width: 10rem;
        height: 2rem;
        border-radius: 10px;
    }

    .cancelled{
        color: rgba(255, 0, 0, 0.648);
    }
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 125px auto;
    padding: 0 10rem;
    gap: 3rem;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 15rem;
    height: 200px;
    padding: 1rem 0;
    border-radius: 10px;
    gap: 2rem;
    box-shadow: var(--main-color) 0px 0px 10px 5px;
    background-color: var(--secondary-color);
    outline: 5px solid var(--main-color);
    color: var(--secondary-color);
    transform-style: preserve-3d;
}

.card::before{
    content: '';
    position:absolute;
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 25px;
    background-color: #111111;
    top: -25px;
    right: -25px;
    outline: 5px solid var(--main-color);
    outline-offset: -1px;
    box-shadow: var(--main-color) 0px 0px 10px 5px;

}

.card::after{
    z-index: -1;
    transform: translateZ(-1px);
    position: absolute;
    content: '';
    bottom: 50px;
    top: 50px;
    left: 50px;
    right: 50px;
    border-radius: 40%;
    filter: blur(10px);
    background-color: var(--main-color);
    margin: 0px;
    opacity: 1;
    transform-origin: center;
    animation: glow-up 2s ease forwards;
}
 @keyframes glow-up {
    from{
        bottom: 50px;
        top: 50px;
        left: 50px;
        right: 50px;
        border-radius: 40%;
        filter: blur(10px) opacity(0);

    }
    
    to{
        bottom: -2px;
        top: -2px;
        left: -2px;
        right: -2px;
        filter: blur(45px) opacity(0.5);

    }
 }

.card figure{
    position:absolute;
    aspect-ratio: 1/1;
    width: 40px;
    border-radius: 25px;
    top: -20px;
    right: -20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    img{
        width: 100%;
    }
}

.card h2{
    box-shadow: #111111 0px 4px 20px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

.card button{
    background-color: hsl(from var(--main-color) h s 50%);
    color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
            box-shadow: var(--main-color) 0px 0px 5px 1px;
            filter: brightness(110%);
    }
}

button.fav{
    border: var(--main-color) 2px solid;
    background-color: transparent;
    padding: 0.5rem;
    i{
        font-size: 1rem;
        color: var(--main-color);
    }
}

.card li{
    color: var(--main-color);
    list-style: none;
}

.hide{
    display: none;
}


.flip{
    animation: flip 0.5s ease-in-out forwards;
    .info{
            animation: fade-out 0.25s ease-in-out forwards;
        }
}

@keyframes flip{
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes fade-out{
    from{
        display: block;
    }
    to{
        display: none;
    }
    
}